:root {
  --voicy-orange: #fe9100;
  --voicy-purple: #200b5d;
  --voicy-player-gray: #f1f3f4;
  --voicy-red: #c7341e;
  --voicy-green: #5db082;
  --voicy-bright-blue: #1e55c5;
  --voicy-light: #ffffff;
}

body {
  background-color: white;
}

.rhap_container,
.rhap_container *:focus {
  outline: none;
  box-shadow: none;
}

.rhap_container {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.rhap_container svg {
  color: var(--voicy-orange);
}

.rhap_current-time,
.rhap_total-time {
  color: var(--voicy-orange);
}

.rhap_current-time {
  display: none;
}

.rhap_progress-filled,
.rhap_progress-indicator {
  color: var(--voicy-orange);
  background-color: var(--voicy-orange);
}

/* player container */
.player-component-container {
  /* background-color: green; */
}

.rhap_main {
  /* background-color: pink; */
}

.rhap_horizontal-reverse {
  /* background-color: yellow; */
}

/* ## A ## Controls section */
.rhap_controls-section {
}

.rhap_additional-controls {
}

.rhap_main-controls {
}

/* ## B ## Progress bar section */
.rhap_progress-section {
}
